<header class="header_container">	<div class="header_logo"></div>
	<div class="header" id="HOME">
	
		<div class="nav">
			<ul class="nav_left">
				<li class="nav_item"><a href="#HOME" class="nav_link">HOME</a></li>
				<li class="nav_item"><a href="#about" class="nav_link">ABOUT</a></li>
				<li class="nav_item"><a href="#team" class="nav_link">TEAM</a></li>
				<li class="nav_item"><a href="#booking" class="nav_link">BOOKING</a></li>
			</ul>
			<ul class="nav_right">
				<li class="nav_item"><a href="#menu" class="nav_link">MENU</a></li>
				<li class="nav_item"><a href="#galerie" class="nav_link">GALERIE</a></li>
				<li class="nav_item"><a href="#events" class="nav_link">EVENTS</a></li>
				<li class="nav_item"><a href="#contacts" class="nav_link">CONTACT</a></li>
			</ul>
		</div>
		<div class="header_content">
			<div class="header_data">
				<p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
			</div>
		
			<div class="header_center">
				<div>
					<p> RESTAURANT</p>
					<h1>hungry people</h1>
					<span></span>
					<div class="header_reserve">
						<button>BOOK TABLE</button>
						<button>EXPLORE</button>
					</div>
					<button class="btm_down">down</button>
				</div>
				
			</div>
			
			<ul class="header_social">
				<li class="header_social_item f"><a href="">
					<!-- <img src="../assets/images/facebook.svg" alt="facebook"> -->
				</a></li>
				<li class="header_social_item t"><a href="" >
					<!-- <img src="../assets/images/twiter.svg" alt="twiter"> -->
				</a></li>
				<li class="header_social_item i"><a href="" >
					<!-- <img src="../assets/images/instagram.svg" alt="instagram"> -->
				</a></li>
			</ul>				
		</div>
	</div>
</header>
